{% extends 'index.html' %}

{% block title %}
Add new position
{% endblock %}

{% block add_position %}
<h2 align="center">Add position</h2>
<form action="{{url_for('portfolio.add_position')}}" method="POST">
    <table>
        <tr>
            {% for field in form %}
                <th>
                    {{field.label()}}
                </th>
            {% endfor %}
        </tr>
        <tr>
            {%for field in form %}
                <td>
                    {{field()}}
                </td>
            {% endfor %}
            <td>
                <button type="submit">Add</button>
            </td>
        </tr>
    </table>
</form>
{% endblock %}

{% block portfolio %}
Отрисовываю новую таблицу
{% endblock %}