<!doctype html>
<html>
<head>
	<meta charset=utf-8>
	<title>
        {% block title %}

        {% endblock %}| History portfolio checking
    </title>
    <link rel="shortcut icon" type="img/favicon" href="../static/img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() 
        {
            $('#loader').hide();

            $('form').submit(function() 
            {
                $('#loader').show();
            }) 
        })
    </script>
</head>
<body>
    <div class="header"></div>
    <div>
        {% block add_position %}

        {% endblock %}
    </div>

    <div>
        {% block portfolio %}

        {% endblock %}
    </div>

    <div>
        {% block plot_result %}

        {% endblock %}
    </div>
</body>
</html>