{% extends 'base.html' %}

{% block title %}
Let's start
{% endblock %}

{% block add_position %}
<h2>Add position</h2>
<form action="{{url_for('portfolio.add_position')}}" method="POST" autocomplete="off">
    <table>
        <tr>
            <th>{{position_form.date.label}}</th>
            <th>{{position_form.time.label}}</th>
            <th>{{position_form.instrument.label}}</th>
            <th>{{position_form.amount.label}}</th>
        </tr>
        <tr>
            <td>
                {{position_form.date}}
            </td>
            <td>
                {{position_form.time}}
            </td>
            <td>
                {{position_form.instrument}}
            </td>
            <td>
                {{position_form.amount}}
            </td>
            <td>
                <button type="submit">Add</button>
            </td>
        </tr>
        <tr class="err">
            <td>
                {% for error in position_form.date.errors %}
                {{ error }}
                {% endfor %}
            </td>
            <td>
                {% for error in position_form.time.errors %}
                {{ error }}
                {% endfor %}
            </td>
            <td>
                {% for error in position_form.instrument.errors %}
                {{ error }}
                {% endfor %}
            </td>
            <td>
                {% for error in position_form.amount.errors %}
                {{ error }}
                {% endfor %}
            </td>
        </tr>
    </table>
</form>
{% endblock %}

{% block portfolio %}
<h2>Portfolio</h2>
<div>
    <table>
        <tr>
            <th>DateTime</th>
            <th>Instrument</th>
            <th>Amount</th>
            <th>PriceOpen</th>
        </tr>
        {%for data in portfolio_data %}
        <tr>
            <td>
                {{data.opening_time}}
            </td>
            <td>
                {{data.instrument}}
            </td>
            <td>
                {{data.amount}}
            </td>
            <td>
                {{data.open_price}}
            </td>
            <td>
                <form action="{{url_for('portfolio.remove_position')}}" method="POST">
                    <button type="submit" name='del' value="{{data.id}}">del</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table> 
</div>

<div class="loader" id="loader">
  
  <span>↓</span>
  <span style="--delay: 0.1s">↓</span>
  <span style="--delay: 0.3s">↓</span>
  <span style="--delay: 0.4s">↓</span>
  <span style="--delay: 0.5s">↓</span>
  
</div>
{% endblock %}

{% block plot_result %}
</table>
<div>
    <h2>Result</h2>
    <table>
        <tr>
            <td>
                <form action="{{url_for('portfolio.show_portfolio_result')}}" method="POST">
                    <button type="submit">Draw</button>
                </form>
            </td>
        </tr>
    </table> 
</div>
{% endblock %}