{% extends 'base.html' %}

{% block title %}
Let's start
{% endblock %}

{% block add_position %}
<h2>Add position</h2>
<form action="{{url_for('portfolio.add_position')}}" method="POST" autocomplete="off">
    <table>
        <tr>
            {% for field in position_form %}
                <th>
                    {{field.label()}}
                </th>
            {% endfor %}
        </tr>
        <tr>
            {%for field in position_form %}
                <td>
                    {{field()}}
                </td>
            {% endfor %}
            <td>
                <button type="submit">Add</button>
            </td>
        </tr>
    </table>
</form>
{% endblock %}

{% block portfolio %}
<h2>Portfolio</h2>
<form action="{{url_for('portfolio.remove_position')}}" method="POST" autocomplete="off">
    </table>
    <div>
        <h2>{{portfolio_name}}</h2>
        <table border="1">
            <tr>
                <th>DateTime</th>
                <th>Instrument</th>
                <th>Amount</th>
                <th>PriceOpen</th>
            </tr>
            {%for data in portfolio_data %}
            <tr>
                <td>
                    {{data.opening_time}}
                </td>
                <td>
                    {{data.instrument}}
                </td>
                <td>
                    {{data.amount}}
                </td>
                <td>
                    {{data.open_price}}
                </td>
                <td>
                    <button type="submit" name='del' value="{{data.id}}">del</button>
                </td>
            </tr>
            {% endfor %}
        </table> 
    </div>
</form>
{% endblock %}