{% extends 'base.html' %}

{% block title %}
Let's start
{% endblock %}

{% block add_position %}
<h2>Add position</h2>
<form action="{{url_for('portfolio.add_position')}}" method="POST" autocomplete="off">
    <table>
        <tr>
            <th>{{position_form.date.label}}</th>
            <th>{{position_form.time.label}}</th>
            <th>{{position_form.instrument.label}}</th>
            <th>{{position_form.amount.label}}</th>
        </tr>
        <tr>
            <td>
                {{position_form.date}}
            </td>
            <td>
                {{position_form.time}}
            </td>
            <td>
                {{position_form.instrument}}
            </td>
            <td>
                {{position_form.amount}}
            </td>
            <td>
                <button type="submit">Add</button>
            </td>
        </tr>
        <tr class="err">
            <td>
                {% for error in position_form.date.errors %}
                {{ error }}
                {% endfor %}
            </td>
            <td>
                {% for error in position_form.time.errors %}
                {{ error }}
                {% endfor %}
            </td>
            <td>
                {% for error in position_form.instrument.errors %}
                {{ error }}
                {% endfor %}
            </td>
            <td>
                {% for error in position_form.amount.errors %}
                {{ error }}
                {% endfor %}
            </td>
        </tr>
    </table>
</form>
{% endblock %}

{% block portfolio %}
<h2>Portfolio</h2>
<form action="{{url_for('portfolio.remove_position')}}" method="POST">
    </table>
    <div>
        <h2>{{portfolio_name}}</h2>
        <table>
            <tr>
                <th>DateTime</th>
                <th>Instrument</th>
                <th>Amount</th>
                <th>PriceOpen</th>
            </tr>
            {%for data in portfolio_data %}
            <tr>
                <td>
                    {{data.opening_time}}
                </td>
                <td>
                    {{data.instrument}}
                </td>
                <td>
                    {{data.amount}}
                </td>
                <td>
                    {{data.open_price}}
                </td>
                <td>
                    <button type="submit" name='del' value="{{data.id}}">del</button>
                </td>
            </tr>
            {% endfor %}
        </table> 
    </div>
</form>
{% endblock %}